<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
      </ion-buttons>
    <ion-title> <ion-buttons slot="start">
 <ion-button [routerLink]="['/home']">
 <ion-icon name="arrow-back-circle-outline"></ion-icon>
 </ion-button>
 </ion-buttons>Attraction Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{selected.image_url}}">
    <ion-card-header>
    <ion-card-title>{{selected.attraction}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <p>{{selected.description}}</p>
  <p>  Price: {{selected.price|currency:'SGD'}} </p>
<p>Location:{{selected.location}}</p>

  <p>
    Quantity:<ion-icon name="remove-circle" (click)="decrement()"> </ion-icon>
    {{quant}}
  <ion-icon name="add-circle" (click)="increment()"></ion-icon></p>
  <div class="map-wrapper">
    <!-- <div id="map_center">
      <img src="assets/icon/location-marker.png" />
    </div> -->
    <ion-button (click)="loadMap('roadmap');">RoadMap</ion-button>
    <ion-button (click)="loadMap('satellite');">Satellite</ion-button>
    <ion-button (click)="loadMap('hybrid');">Hybrid</ion-button>
   
    <div #map id="map"></div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <b>Lattitude</b>
      </ion-col>
      <ion-col>
        {{selected.latitude}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <b>Longitude</b>
      </ion-col>
      <ion-col>
        {{selected.longitude}}
      </ion-col>
    </ion-row>
   
  </ion-grid>
 
  <ion-calendar [(ngModel)]="date" (ionChange)="onChange($event)"
  [type]="type"
  [format]="'YYYY-MM-DD'">
</ion-calendar>
<ion-button (click)="addCart()">Add to Cart</ion-button>
  </ion-card-content>
  
   </ion-card>
</ion-content>
