<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>portal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button (click)="forgot()">Forgot Password</ion-button>
<ion-button (click)="logout()">Logout</ion-button>
<h1>Click Button To Scan</h1>

<ion-button color="primary" (click)="scanCode()">
  Scan Code
</ion-button>

<div *ngIf="scannedData">
  <p>
    Scanned Code Text : <b>{{ scannedData["text"] }}</b>
  </p>
  <p>
    Scanned Code Format : <b>{{ scannedData["format"] }}</b>
  </p>
</div>

<h1>Enter Value to Create QR code</h1>
<ion-input placeholder="Enter Input" [(ngModel)]="encodedData"></ion-input>

<ion-button color="success" (click)="encodedText()">
  Create QR
</ion-button>
<!-- <ion-card>
  <ion-img src="assets/barcode.jpeg"></ion-img>

  <ion-card-header>
    <ion-card-title>Barcode/QR Scanning</ion-card-title>
    <ion-card-subtitle>In Angular Cordova Apps</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-button expand="full" color="success" (click)="scanBarcode()">Scan a Code</ion-button>
    <div *ngIf="scannedData">
      <p>
        Scanned Code Text : <b>{{ scannedData["text"] }}</b>
      </p>
      <p>
        Scanned Code Format : <b>{{ scannedData["format"] }}</b>
      </p>
    </div>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>QR Code Creation</ion-card-title>
    <ion-card-subtitle>In Angular Cordova Apps</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-input type="text" [(ngModel)]="inputData"></ion-input>
    <ion-button expand="full" color="success" (click)="createBarcode()">Create a QR code</ion-button>

  </ion-card-content>
</ion-card> -->
</ion-content>
