<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <ion-title>Gardens by the Bay</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
  <ion-card>
  <img src="./assets/eastcoastpark.jpg" />
  <ion-card-header>
  <ion-card-subtitle><ion-text color="success">South</ion-text></ion-card-subtitle>
  <ion-card-title>Gardens by the Bay</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <p>
    Gardens by the Bay is an independent organisation responsible for developing and managing one of Asia’s foremost garden destinations.</p>
  <p>The Gardens is led by a multidisciplinary team of professionals who have been involved in the greening of Singapore and had worked alongside international and local experts to develop the Gardens. It has an in-house team of skilled landscape designers, horticulturists, arborists, engineers, plant health, garden and turf management experts, as well as plant research and orchid breeding professionals, who leverage on the extensive global network of plant sources cultivated during the development days, to continuously curate and grow the Gardens.</p>
  <p>Guided by its vision to be a world of gardens for all to own, enjoy and cherish, Gardens by the Bay has earned numerous awards and accolades including the World Building of the Year in 2012, the President’s Design Award (Singapore) in 2013, the Outstanding Achievement Award by the Themed Entertainment Association in 2014, the Largest Glass Greenhouse (Flower Dome) in the Guinness World Records for 2015, and the TripAdvisor Certificate of Excellence in 2016. These achievements are testament to the ongoing excellence of the Gardens and spur the team towards attaining greater success.</p>
  
</ion-card-content>
  </ion-card>
 </ion-content>
 <ion-toolbar>
  <ion-tabs>
  <ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]="['']">
  <ion-icon name="home"></ion-icon>
  <ion-label>Back to Home</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
 </ion-toolbar>