<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <ion-title>Bishan-Ang Mo Kio Park</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
  <ion-card>
  <img src="./assets/bishanamk.jpg" />
  <ion-card-header>
  <ion-card-subtitle><ion-text color="success">Central</ion-text></ion-card-subtitle>
  <ion-card-title>Bishan-Ang Mo Kio Park</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <p>As one of the largest urban parks in central Singapore, Bishan-Ang Mo Kio Park is a great place for families to have a fun day out. Under the PUB’s Active, Beautiful and Clean Waters (ABC) Programme, the old concrete canal has been de-concretised and naturalised into a beautiful 3 km meandering river with lush banks of wildflowers. Aside from its unique waterways, the park features lush greenery, Pond Gardens and River Plains, making it a popular choice with nearby residents for recreational activities.</p>
  <p>With open lawns and gently sloping grassy banks along either side of the river, families can have picnics and gatherings while enjoying the beauty and tranquillity of the waterways. The 62-hectare park is also home to a wide array of interesting fauna and flora, making it ideal for nature lovers. Fitness enthusiasts can cycle or jog along the well-maintained tracks, accompanied by the soothing babble of the river.</p>
  <p>The inclusive playground in River Plains is an all-access play facility for children with different abilities. Features include a wheelchair-accessible merry-go-round and wheelchair swing, allowing children with special needs to play together with their non-disabled peers.</p>
  </ion-card-content>
  </ion-card>
 </ion-content>
 <ion-toolbar>
  <ion-tabs>
  <ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]="['']">
  <ion-icon name="home"></ion-icon>
  <ion-label>Back to Home</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
 </ion-toolbar>
